:root{
  font-size: 15px;
}

@media (max-width: 1920px) {
  .Day{
    max-width: 90%;
    height: auto;
    position: relative;
    font-family: 'Encode Sans', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 100px;
  
  }
}
@media (max-width: 720px) {
  .Day{
    max-width: 90%;
    height: auto;
    position: relative;
    font-family: 'Encode Sans', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 50px;
  
  }
}
@media (max-width: 400px) {
  .Day{
    max-width: 90%;
    height: auto;
    position: relative;
    font-family: 'Encode Sans', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 20px;
  
  }
}
.Day--bookmark{
  top: 48px;
  left: -1px;
  position: absolute;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 10px;
  background-color: var(--sub-special-color);
  border: none;
  transition: height .5s ease, top .5s ease;
}
.Day:hover .Day--bookmark{
  height: 100%;
  width: 5px;
  top: 0;
  left: -1px;
}
.Day--day{
  margin: 20px 0 0;
  width: 100%;
}
.Day--day-count{
  font-size: clamp(1.8rem, 4vw, 3rem);
  color: var(--special-color);
}
.Day--day-title{
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: 500;
  
}
.Day--date{
  color: var(--sub-special-color);
  margin: 0;
  font-weight: 100;
  width: 100%;
  font-size: clamp(1rem , 2vw, 1.3rem);
  text-align: right;
}
.Day--thoughts{
  width: 60%;
  text-align: center;
  font-size: clamp(.8rem , 2vw, 1rem);
}
.Day--button, .copy-to-clipboard{
  font-size: clamp(.7rem , 2vw, 1rem);
  color: var(--button-color);
  background-color: var(--special-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease

}
.copy-to-clipboard:hover{
  cursor: pointer;
}
.Day--button:hover, .copy-to-clipboard-done{
  cursor: pointer;
  font-size: clamp(.7rem , 2vw, 1rem);  
  color: var(--button-color);
  background-color: var(--sub-special-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease
}

.Day--code{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 90%;
}
.Day--code-expand{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  z-index: 1;
  width: 100vw;
  height: max-content;
}
.Day--code span code{
  width: 100%;
}
.code-expand{
  background-color: var(--special-color);
  position: absolute;
  text-align: center;
  width: 5px; 
  padding: 5px;
  height: 5px;
  right: 30px;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.code-shrink{
  background-color: var(--sub-special-color);
  position: absolute;
  text-align: center;
  width: 5px; 
  padding: 5px;
  height: 5px;
  right: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.certificate-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .certificate{
    max-width:100%; 
    object-fit: cover;
    margin: 10px; 
    box-shadow: 0 0 50px 1px rgb(222, 255, 231, .3);
    transition: height .5s ease;
  } 

.hide-certificate{
  width:500px; 
  height: 0;
  margin: 10px; 
  box-shadow: 0 0 50px 1px rgb(222, 255, 231, .3);
  transition: height .5s ease;
}
/* Define a custom scrollbar style */
::-webkit-scrollbar {
  position: absolute;
  width: 0;
  height: 0;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* On hover, style the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #98c379;
}

