@media (min-width: 700px){
    header{
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 10px;
        padding: 10px;
        background-color: black;
      }
      .Header--title{
        color: var(--special-color);
        font-size: 50px;
        margin: 0;
      }
      .Header--subtitle{
        opacity: .8;
        color: var(--sub-special-color);
        font-size: 20px;
        margin: 0;
      }
}

@media only screen and (min-width: 200px) and ((max-width: 699px)){
header{
  width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px;
    padding: 10px;
    background-color: black;
  }
  .Header--title{
    color: var(--special-color);
    font-size: 30px;
    margin: 0;
  }
  .Header--subtitle{
    opacity: .8;
    color: var(--sub-special-color);
    font-size: 10px;
    margin: 0;
  }
}