*{
  box-sizing: border-box;
}
html{
  background-color: rgb(25, 0, 0);
}
a{
  text-decoration: none;
  color: #98c379;
}
a:hover{
  color:aquamarine
}
hr{
  opacity: 0.3;
}
header{
  margin: 20px 0 10px;
  padding: 10px;
  background-color: black;
}
.Day{
  font-family: 'Encode Sans', sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
  padding: 10px;
}
.Day--day{
  margin: 20px 0 2px;
  width: 100%;
}
.Day--day-count{
  font-size: 30px;
}
.Day--day-title{
  font-weight: 500;
}
.Day--date{
  margin: 0;
  font-weight: 100;
  width: 100%;
  text-align: right;
}
.Day--thoughts{
  width: 60%;
  text-align: center;
}
.Day--button{
  color: rgb(209, 209, 209);
  background-color: #393939;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: max-content;
}
.Day--button:hover{
  color: rgb(248, 248, 248);
  background-color: #535353;
  border: black;
}
.Day--button:active{
  background-color: black;
  outline: 1px solid rgb(147, 147, 147);
}
.Day--code{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Define a custom scrollbar style */
::-webkit-scrollbar {
  position: absolute;
  width: 10px; /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* On hover, style the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #98c379;
}
